<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
  </head>
  <body>
    <header>
      <div>
        <h1>To do</h1>
        <img src="/images/moon-icon.png" alt="icon de lua" />
      </div>
      <form>
        <input
          type="text"
          id="new-task"
          placeholder="Create a new to do"
          name="newTask"
        />
        <button type="submit">Create</button>
      </form>
    </header>

    {{{body}}}
  </body>
</html>