<main>
  <section class="tasks">
    <div class="task">
      <form action="">
        <div>
          <input type="radio" id="task-1" />
          <label for="task-1">Completar curso de Javascript</label>
        </div>
        <button>
          <img src="/images/x-icon.png" alt="Icone to delete a task" />
        </button>
      </form>
    </div>
  </section>
</main>